body.claro{
    background-color: white ;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

body.escuro{
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.opcoes{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    font-size:small;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.31);
}

.mudar-tema{
    background-color: white;
    border: none;
    cursor: pointer;
}

img[alt="tema"]{
    width: 50px;
}

.main-section{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.logo{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img{
    margin-left: 50px;
    width: 200px;
    height: auto;
}

.section-intro{
    display: flex;
    font-size: larger;
    flex-direction: column;
    justify-content: center;
}

.slogan{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.fotos-intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

img[alt="c"]{
    border-radius: 50px;
}

.opc1{
    margin-top: 150px;
    padding-left: 120px;
    font-size: xx-large;
}

.corte{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.cabelo-fotos{
    display: flex;
    justify-content: space-around;
}

img[alt="corte"]{
    border-radius: 50px;
}

.barba{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.barba-fotos{
    display: flex;
    justify-content: space-around;
}

img[alt="barba"]{
    border-radius: 50px;
}

.sobrancelha{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.sobrancelha-fotos{
    display: flex;
    justify-content: space-around;
}

img[alt="sob"]{
    border-radius: 50px;
}

a{
    text-decoration: none;
}

.titulo-avaliacoes{
    margin-top: 150px;
    padding-left: 120px;
    font-size: x-large;
    display: flex;
    flex-direction: row;
}

img[alt="avaliacaoicon"]{
    width: 100px;
    height: auto;
}

.av{
    padding-left: 120px;
    padding-top: 50px;
}

img[alt="estrelasimg"]{
    width: 250px;
}

.titulo-localizacao{
    margin-top: 150px;
    padding-left: 120px;
    font-size: x-large;
    display: flex;
    flex-direction: row;
}
img[alt="localizacaoicon"]{
    width: 100px;
    height: auto;
}
.loc{
    padding-left: 120px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
img[alt= "wppimg"]{
    width: 100px;
    height: auto;
}
.contato{
    padding-left: 120px;
    padding-top: 50px;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:active{
    color: blue;
}